default_language_version:
  # It is recommended to specify the latest version of Python
  # supported by your project here, or alternatively use
  # pre-commit's default_language_version, see
  # https://pre-commit.com/#top_level-default_language_version
  python: python3.10
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        # Args to ensure compatibility with Black
        # https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#isort
        # https://pycqa.github.io/isort/docs/configuration/black_compatibility.html
        args: [--profile=black]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        # Args to ensure compatibility with Black
        # https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
        args: [--max-line-length=88, --extend-ignore=E203]
